{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block head_title %} {{instance.title}} | {{block.super}} {% endblock head_title %}


{% block content %}
<div class="col-sm-6 col-sm-offset-3">
{{object}}

		<blockquote>
	
		<p>{{ comment.content }} </p>
		<br>
		<footer> By : {{comment.user}} on {{ comment.timestamp | timesince }}
		{% if comment.children.count > 0 %}{{ comment.children.count }} Comment
		{% if comment.children.count > 1 %}s {% endif %} | {% endif %}
			 </footer>
	
		<div  style="">
		{% for child_comment in comment.children %}
		<blockquote>
	
		<p>{{ child_comment.content }} </p>
		<br>
		<footer> By : {{child_comment.user}} on {{ child_comment.timestamp | timesince }}
		</footer>
		<hr>
		</blockquote>
		{% endfor %}

				<p class="lead">Reply</p>
				<form method="POST" action="">{% csrf_token %}
				{{form | crispy}}
				<input type="hidden" name="parent_id" value="{{ comment.id }}">
				<input type="submit" value="Reply Comment" class="btn btn-default" name="">
				</form>
				</div>
		
		</blockquote>
			<!-- {{ instance.comment_set.all }}  is replaced by commnet-->
		<hr>
	
</div>
{% endblock content %}